host: api.bullteam.cn
info:
  contact:
    email: support@bullteam.cn
    name: API Support
  description: Zeus 宙斯权限后台
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Zeus 宙斯权限后台 API
  version: V0.1
paths:
  /test:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":200,"data":{""}}'
          schema:
            type: string
      summary: 测试
  /v1/api/roles:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":200,"data":{"result":[...],"total":1}}'
          schema:
            type: string
      summary: 角色列表[分页+搜索]
  /v1/api/roles/:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":200,"data":{"id":1,"name":"test"}}'
          schema:
            type: string
      summary: 角色信息
  /v1/api/users:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":200,"data":{"id":1}}'
          schema:
            type: string
      summary: 新增用户
  /v1/api/users/:
    delete:
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":200,"data":{"id":1}}'
          schema:
            type: string
      summary: 删除用户
    get:
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":200,"data":{"id":1,"name":"test"}}'
          schema:
            type: string
      summary: 用户信息
    put:
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":200,"data":{"id":1}}'
          schema:
            type: string
      summary: 编辑用户
  /v1/api/users/info:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":200,"data":{"id":1,"name":"test"}}'
          schema:
            type: string
      summary: 登录用户信息
swagger: "2.0"
