{
    "swagger": "2.0",
    "info": {
        "description": "Zeus 宙斯权限后台",
        "title": "Zeus 宙斯权限后台 API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "email": "support@bullteam.cn"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "V0.1"
    },
    "host": "api.bullteam.cn",
    "paths": {
        "/test": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "测试",
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{\"\"}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/api/roles": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "角色列表[分页+搜索]",
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{\"result\":[...],\"total\":1}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/api/roles/": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "角色信息",
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{\"id\":1,\"name\":\"test\"}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/api/users": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "新增用户",
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{\"id\":1}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/api/users/": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "用户信息",
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{\"id\":1,\"name\":\"test\"}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "produces": [
                    "application/json"
                ],
                "summary": "编辑用户",
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{\"id\":1}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "produces": [
                    "application/json"
                ],
                "summary": "删除用户",
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{\"id\":1}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/api/users/info": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "登录用户信息",
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{\"id\":1,\"name\":\"test\"}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    }
}